# APP CONFIGURATION
APP_NAME=Animeforge Duo
ENVIRONMENT=development
DEBUG=true
SECRET_KEY= change-to-32-character

FRONTEND_URL=http://localhost:3000
MOBILE_URL=exp://localhost:8081

DATABASE_URL=postgresql://postgres:postgres@db:5432/animeforge

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# AI SERVICES

SEGMIND_API_KEY=XXXXXXXXXXXXX
LEPTON_API_KEY=XXXXXXXXXXXXX
RUNPOD_API_KEY=XXXXXXXXXXXX
RUNPOD_SADTALKER_ENDPOINT=XXXXXXXXXXXX

# STORAGE (Cloudeflare R2)

R2_ENDPOINT_URL= https://your-account-id.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_r2_access_key
R2_SECRET_ACCESS_KEY_ID=your_r2_secret_key
R2_BUCKET_NAME=animeforge
R2_PUBLIC_URL=https://pub-your-account-id.r2.dev

# PAYMENTS

RAZORPAY_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
RAZORPAY_WEBHOOK_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx


# GEOLOCATION (Maxmind GeoIP2)

MAXMIND_LICENSE_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
MAXMIND_DB_PATH=xxxxxxxxxxxxxxxxxxxxxxxx

# MONITORING

SENTRY_DSN=https://82e0fe0577fd3013e1ee940590cc2b0f@o4510978914779136.ingest.us.sentry.io/4510978919497728
